@import "compass/reset";
@import "blueprint/grid";
@import "compass/css3";
@import "compass/css3/text-shadow";

$width:0;
$margin:0;
$padding:0;

$default-text-shadow-color: white;

@font-face {
    font-family: 'back_to_1982regular';
    src: font-url('backto1982-webfont.eot');
    src: font-url('backto1982-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('backto1982-webfont.woff') format('woff'),
         font-url('backto1982-webfont.ttf') format('truetype'),
         font-url('backto1982-webfont.svg#back_to_1982regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '3d_let_brkregular';
    src: font-url('3dlet-webfont.eot');
    src: font-url('3dlet-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('3dlet-webfont.woff') format('woff'),
         font-url('3dlet-webfont.ttf') format('truetype'),
         font-url('3dlet-webfont.svg#3d_let_brkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    padding: 0;
    height:100%;
    background:#555;
}

body{
	padding:20px;
	line-height:1;
	font-family:Helvetica;
}
h1{
	@include column-base(nomargin);
	@include single-text-shadow();
	font-family: '3d_let_brkregular';
	text-transform:uppercase;
	color:#333;
	font-size:100px;
	padding-bottom:20px;
}
h2{
	font-size:20px;
	padding-bottom:15px;
}
.box{
	@include column-base(nomargin);
	@include border-radius(10px);
	width:720px;
	background:white;
	padding:40px;
}
#score{
	@include column-base(nomargin);
	font-family: 'back_to_1982regular';
	color:yellow;
	float:right;
	height:40px;
	line-height:100px;
	font-size:40px;
}
#breakout{
	@include column-base(nomargin);
	position:relative;
	background:black;
	width:800px;
	height:600px;
	margin-bottom:20px;
}
#page{
	display:block;
	margin:auto;
	width:800px;
}
#blocks, #frames, #paddle,.ui{
	position:absolute;
	width:800px;
	height:600px;
}

.ui{
	#play{
		@include background(linear-gradient(white, #888));
		@include text-shadow;
		@include box-shadow;
		@include border-radius(10px);
		@include box-sizing('content-box');
		@include reset-box-model;
		$width: 150px;
		$padding-x: 40px;
		width:$width - (($padding-x - $margin) * 2);
		padding:20px $padding-x;

		position:absolute;
		top:350px;
		left:50%;
		margin-left: -1 * ($width / 2);
		z-index:10;

		font-size:20px;
		text-transform:uppercase;

		cursor:pointer;

		&:hover{
			@include background(linear-gradient(#888, white));	
		}
	}
}